streamlit
google-generativeai
pandas
opencv-python
mediapipe
pillow
PyAudio
SpeechRecognition
scikit-learn
numpy
requests
beautifulsoup4
flask
flask-cors
flask-socketio
sqlalchemy
plotly
matplotlib
seaborn
pydantic
pypdf
python-dotenv
PyMuPDF
pydocx
pypdf2
textblob
scikit-learn
scipy
nltk
