absl-py
altair
annotated-types
anyio
astunparse
attrs
beautifulsoup4
blinker
blis
cachetools
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
cohere
colorama
confection
contourpy
cryptography
cycler
cymem
et_xmlfile
fastavro
filelock
fire
Flask
flask-cors
flatbuffers
fonttools
fsspec
gast
gdown
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
google-pasta
googleapis-common-protos
grpcio
grpcio-status
gunicorn
h11
h5py
httpcore
httplib2
httpx
httpx-sse
huggingface-hub
idna
itsdangerous
jax
jaxlib
Jinja2
joblib
jsonschema
jsonschema-specifications
keras
kiwisolver
langcodes
language_data
libclang
lxml
lz4
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mediapipe
ml_dtypes
mtcnn
murmurhash
namex
narwhals
nltk
numpy
opencv-contrib-python
opencv-python
openpyxl
opt_einsum
optree
packaging
pandas
parameterized
pdfminer.six
pillow
plotly
preshed
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
PyAudio
pycparser
pydantic
pydantic_core
pydeck
Pygments
PyMuPDF
pyparsing
PyPDF2
pypdfium2
PySocks
python-dateutil
python-docx
python-dotenv
pytz
PyYAML
referencing
regex
requests
rich
rpds-py
rsa
scipy
sentencepiece
setuptools
shellingham
six
smart-open
smmap
sniffio
sounddevice
soupsieve
spacy
spacy-legacy
spacy-loggers
SpeechRecognition
srsly
streamlit
tenacity
tensorboard
tensorboard-data-server
termcolor
textblob
thinc
tokenizers
toml
tornado
tqdm
typer
types-requests
typing_extensions
tzdata
uritemplate
urllib3
wasabi
watchdog
Wave
weasel
websockets
Werkzeug
wheel
wrapt
