
# Core dependencies
streamlit
numpy
pandas
opencv-python
pyaudio
SpeechRecognition
python-dotenv
spacy
textblob
cohere
plotly
thinc

# Audio processing
wave


# ML model for spaCy
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.0/en_core_web_md-3.7.0-py3-none-any.whl
