streamlit==1.41.1
pandas==2.2.3
numpy==1.26.4
scikit-learn
matplotlib
plotly
cohere==5.13.4
openpyxl
PyPDF2
PyMuPDF
pdfminer.six
SpeechRecognition==3.13.0
beautifulsoup4
lxml
opencv-contrib-python==4.9.0.80
mediapipe==0.10.0
spacy==3.7.5
nltk
textblob
requests
python-dotenv
flask
flask-cors
google-generativeai==0.8.5
huggingface-hub
